{% extends 'master' %}

{% block content %}
  <div class="posts-wrapper">
    {% for post in posts %} 
      <div class="post">
        <h2><a href=""> {{ post.title }} </a></h2> 
        <p> {{ post.content | truncate(150) }} </p>
      </div>
    {% else %}
        <h2> No posts found </h2>
    {% endfor %}
  </div>
{% endblock %}